<OxiBase::InputGroup
    @showIf={{not (or @noInputGroup @inline)}}
>
    <select
        ...attributes
        class={{this.cssClasses}}
        data-placeholder={{this.placeholder}}
        {{on "oxi-focus" this.focussed}}
        {{on "change" this.notifyOnChange}}
        {{on-init this.startup}}
    >
    </select>

    {{#if this.allowClearing}}
        <BsButton
            @icon="glyphicon glyphicon-trash"
            @type="light"
            class="oxi-btn-cancel btn-sm"
            @onClick={{this.clear}}
        >
        </BsButton>
    {{/if}}

    <div></div>
</OxiBase::InputGroup>
