<div class="form-group {{if @field.error "has-error"}} {{if @field.is_optional "optional" "required"}} {{@field.class}}">
    {{#if this.isBool}}
        <div class="col-md-2"></div>
    {{else}}
        <label class="col-md-2 control-label">{{@field.label}}</label>
    {{/if}}

    {{#if @field.keys}}
        <div class="col-md-2">
            <OxiBase::Select @list={{@field.keys}} @selected={{@field.name}} @onChange={{this.selectFieldType}} />
        </div>
    {{/if}}

    <div class="{{this.sFieldSize}}" {{on "keydown" this.onKeydown}}>
        {{#if @field.tooltip}}
            {{#if this.config.tooltipOnFocus}}
                {{! Showing a tooltop on focus is EmberTooltip's default behaviour }}
                <EmberTooltip>{{@field.tooltip}}</EmberTooltip>
            {{else}}
                {{!
                Due to a bug in EmberTooltip we have to set @event="focus" although we
                do NOT want the tooltip to show on focus - uuh ooh.
                In EmberTooltip's code @event is overridden by @showOn and @hideOn but setting
                it is necessary to prevent the automatic addition of a 'focusin' event listener.
                }}
                <EmberTooltip @event="focus" @showOn="mouseenter" @hideOn="mouseleave">{{@field.tooltip}}</EmberTooltip>
            {{/if}}
        {{/if}}

        {{component
            this.type
            content=this.field
            onChange=this.onChange
            onError=this.onError
            setFocusInfo=@setFocusInfo
            encodeFields=@encodeFields
            initAutofill=this.initAutofill
        }}

        {{#if @field.error}}
            <span class="help-block">{{@field.error}}</span>
        {{/if}}
    </div>

    {{#if @field.clonable}}
        <div class="col-md-1 clonable-btn-group">
            {{#if @field._canDelete}}
                <BsButton @type="danger" @onClick={{this.delClone}} tabindex="-1">
                    <span class="glyphicon glyphicon-minus"></span>
                </BsButton>
            {{/if}}
            {{#if @field._canAdd}}
                <BsButton @type="primary" @onClick={{this.addClone}} tabindex="-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </BsButton>
            {{/if}}
        </div>
    {{/if}}
</div>
