<!-- components/oxi-section/form/field -->
<div class="row {{if @field.is_optional "optional" "required"}} {{@field.class}}">
    <label class="col-md-2 col-form-label text-md-right">
        <div class="row">
            <div class="col-auto col-md pr-1">
                {{#unless this.isBool}}
                    {{@field.label}}
                {{/unless}}
            </div>
            {{#if @field.tooltip}}
                <div class="col-auto p-0">
                    <span class="glyphicon glyphicon-info-sign text-primary oxi-tooltip-icon {{unless @field.tooltip "d-none"}}">
                        {{! Show a tooltip on tab focus or mouseover }}
                        <EmberTooltip
                            @popperContainer="body"
                            @popperOptions={{this.popperOptions}}
                            @side="top-start"
                        >
                            {{@field.tooltip}}
                        </EmberTooltip>
                        {{!
                            To show tooltip on mouseover, but NOT on (tab) focus:
                                <EmberTooltip @event="focus" @showOn="mouseenter" @hideOn="mouseleave">

                            Due to a bug in EmberTooltip we have to set @event="focus" although we
                            do NOT want the tooltip to show on focus - uuh ooh.
                            In EmberTooltip's code @event is overridden by @showOn and @hideOn but setting
                            it is necessary to prevent the automatic addition of a 'focusin' event listener.
                        }}
                    </span>
                </div>
            {{/if}}
        </div>
    </label>

    {{#if @field.keys}}
        <div class="col-md-2">
            <OxiBase::Select @list={{@field.keys}} @selected={{@field.name}} @onChange={{this.selectFieldType}} />
        </div>
    {{/if}}

    <div class="col" {{on "keydown" this.onKeydown}}>
        {{#let
            (component
                this.type
                content=this.field
                onChange=this.onChange
                onError=this.onError
                setFocusInfo=@setFocusInfo
                encodeFields=@encodeFields
                error=@field._error
            ) as |FieldInstance|
        }}
            <FieldInstance>
            </FieldInstance>
        {{/let}}
    </div>

    {{#if @field.clonable}}
        <div class="col-md-1 clonable-btn-group">
            {{#if @field._canDelete}}
                <BsButton @type="danger" @onClick={{this.delClone}} tabindex="-1">
                    <span class="glyphicon glyphicon-minus"></span>
                </BsButton>
            {{/if}}
            {{#if @field._canAdd}}
                <BsButton @type="primary" @onClick={{this.addClone}} tabindex="-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </BsButton>
            {{/if}}
        </div>
    {{/if}}
</div>
