{{#if (or this.buttons (has-block))}}
    <div class="oxi-button-container mt-3">
        {{#if this.hasDescription}}

            {{#each this.buttons as |btn index|}}
                {{#if (and (has-block) (eq index 0))}}
                    {{yield}}
                {{/if}}
                <div class="row align-items-center my-2">
                    {{#if btn.section}}
                        <div class="col-12">
                            <strong>{{btn.section}}</strong>
                        </div>
                    {{else}}
                        <div class="col-6 col-md-4">
                            <OxiBase::Button @button={{btn}} class="d-block w-100">
                                {{#if btn.tooltip}}
                                    <Tippy>{{btn.tooltip}}</Tippy>
                                {{/if}}
                                {{btn.label}}
                            </OxiBase::Button>
                        </div>
                        <div class="col-6 col-md-8">
                            {{btn.description}}
                        </div>
                    {{/if}}
                </div>
            {{/each}}

        {{else}}

            {{#each this.buttonGroups as |btnGroup index|}}
                <div class="mb-1"> {{!-- vertical spacing between button group rows --}}
                    {{#if (and (has-block) (eq index 0))}}
                        {{yield}}
                    {{/if}}
                    {{#each btnGroup as |btn|}}
                        {{#if btn.section}}
                            <!-- Section are not supported yet -->
                        {{else}}
                            <OxiBase::Button @button={{btn}}>
                                {{#if btn.tooltip}}
                                    <Tippy>{{btn.tooltip}}</Tippy>
                                {{/if}}
                                {{btn.label}}
                            </OxiBase::Button>
                        {{/if}}
                    {{/each}}
                </div>
            {{/each}}

        {{/if}}
    </div>
{{/if}}
