{{#if @buttons}}
    <span class="oxi-button-container">
        {{#if this.hasDescription}}
            {{#each @buttons as |btn|}}
                <div class="row stacked-buttons">
                    {{#if btn.section}}
                        <div class="col-xs-12">
                            <strong>{{btn.section}}</strong>
                        </div>
                    {{else}}
                        <div class="col-xs-4">
                            <OxiBase::Button @button={{btn}} class="btn-block" @onClick={{@buttonClick}}/>
                        </div>
                        <div class="col-xs-8 btn-bt-margin">
                            {{btn.description}}
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            {{#each this.buttonGroups as |btnGroup|}}
                {{#each btnGroup as |btn|}}
                    {{#if btn.section}}
                        <!-- Section are not supported yet -->
                    {{else}}
                        <OxiBase::Button @button={{btn}} @onClick={{@buttonClick}}/>
                    {{/if}}
                {{/each}}
                <div class="spacer"></div>
            {{/each}}
        {{/if}}
    </span>
{{/if}}
