{{#if (or @buttons (has-block))}}
    <span class="oxi-button-container">
        {{#if this.hasDescription}}
            {{#each @buttons as |btn|}}
                <div class="row stacked-buttons">
                    {{#if btn.section}}
                        <div class="col-12">
                            <strong>{{btn.section}}</strong>
                        </div>
                    {{else}}
                        <div class="col-4">
                            <OxiBase::Button @button={{btn}} class="btn-block" @onClick={{@buttonClick}}/>
                        </div>
                        <div class="col-8 btn-bt-margin">
                            {{btn.description}}
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            {{#each this.buttonGroups as |btnGroup index|}}
                <div class="mb-1"> {{!-- vertical spacing between button group rows --}}
                    {{#if (and (has-block) (eq index 0))}}
                        {{yield}}
                    {{/if}}
                    {{#each btnGroup as |btn|}}
                        {{#if btn.section}}
                            <!-- Section are not supported yet -->
                        {{else}}
                            <OxiBase::Button @button={{btn}} @onClick={{@buttonClick}}/>
                        {{/if}}
                    {{/each}}
                </div>
            {{/each}}
        {{/if}}
    </span>
{{/if}}
