{{#if this.isStatic}}
    <div class="oxi-no-input" {{may-focus this true}}>{{@content.options.0.label}}</div>
{{else if @content.editable}}
    <div class="input-group has-validation">
        {{#if this.customMode}}
            <input
                type="text"
                class="form-control"
                value={{@content.value}}
                placeholder={{@content.placeholder}}
                required={{not @content.is_optional}}
                {{on "input" this.onCustomInput}}
                {{on-init this.onCustomInsert}}
                {{may-focus this true}}
            />
        {{else}}
            <OxiBase::Select
                @list={{this.options}}
                @selected={{this.sanitizedValue}}
                @onChange={{this.optionSelected}}
                required={{not @content.is_optional}}
                {{may-focus this true}}
            />
        {{/if}}
        <BsButton
            @type=""
            @active={{this.customMode}}
            @onClick={{this.toggleCustomMode}}
            class="btn-light border-secondary"
        >
            {{t 'component.oxifield_select.custom_value'}}
        </BsButton>
        <div class="invalid-feedback">{{@error}}</div>
    </div>
{{else}}
    <OxiBase::Select
        @list={{this.options}}
        @selected={{this.sanitizedValue}}
        @onChange={{this.optionSelected}}
        required={{not @content.is_optional}}
        {{may-focus this true}}
    />
    <div class="invalid-feedback">{{@error}}</div>
{{/if}}
