<div class="form-group {{if this.hasError "has-error"}}">
    {{#if this.isBool}}
        <div class="col-md-2"></div>
    {{else}}
        <label class="col-md-2 control-label">{{this.content.label}}</label>
    {{/if}}
    {{#if this.content.keys}}
        <div class="col-md-2">
            <OxiSelect @list={{this.content.keys}} @selected={{this.content.name}} @onChange={{this.optionSelected}} />
        </div>
    {{/if}}
        {{component this.type content=this.content}}
        {{#if this.content.error}}
            <span class="help-block">{{this.content.error}}</span>
    <div class="{{this.sFieldSize}}">
        <BsTooltip @title="{{@field.tooltip}}"/>
        {{/if}}
    </div>
    {{#if this.content.clonable}}
        <div class="col-md-1 clonable-btn-group">

            {{#if this.content.canDelete}}
            <BsButton @type="danger" @onClick={{this.delClone}}>
                <span class="glyphicon glyphicon-minus"></span>
            </BsButton>
            {{/if}}
            <BsButton @type="primary" @onClick={{this.addClone}}>
                <span class="glyphicon glyphicon-plus"></span>
            </BsButton>
        </div>
    {{/if}}
</div>
