<div class="form-group {{if this.hasError "has-error"}}">
    {{#if this.isBool}}
        <div class="col-md-2"></div>
    {{else}}
        <label class="col-md-2 control-label">{{this.content.label}}</label>
    {{/if}}
    {{#if this.content.keys}}
        <div class="col-md-2">
            <OxiSelect @list={{this.content.keys}} @selected={{this.content.name}} @onChange={{this.optionSelected}} />
        </div>
    {{/if}}
    <div class="{{this.sFieldSize}}" title="{{this.content.tooltip}}">
        {{component this.type content=this.content}}
        {{#if this.content.error}}
            <span class="help-block">{{this.content.error}}</span>
        {{/if}}
    </div>
    {{#if this.content.clonable}}
        <div class="col-md-1 clonable-btn-group">

            {{#if this.content.canDelete}}
            <button class="btn btn-danger clone" type="button" {{action "delClone"}}>
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            {{/if}}
            <button class="btn btn-primary clone" type="button" {{action "addClone"}}>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    {{/if}}
</div>
