<div class="form-group {{if hasError "has-error"}}">
    {{#if isBool}}
        <div class="col-md-2"></div>
    {{else}}
        <label class="col-md-2 control-label">{{content.label}}</label>
    {{/if}}
    {{#if content.keys}}
        <div class="col-md-2">
            {{view "select" class="form-control" content=content.keys optionValuePath="content.value" optionLabelPath="content.label" value=content.name}}
        </div>
    {{/if}}
    <div class="{{sFieldSize}}" title="{{content.tooltip}}">
        {{component type content=content}}
        {{#if content.error}}
            <span class="help-block">{{content.error}}</span>
        {{/if}}
    </div>
    {{#if content.clonable}}
        <div class="col-md-1 clonable-btn-group">
            
            {{#if content.canDelete}}
            <button class="btn btn-danger clone" type="button" {{action "delClone"}}>
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            {{/if}}
            <button class="btn btn-primary clone" type="button" {{action "addClone"}}>
                <span class="glyphicon glyphicon-plus"></span>
            </button>            
        </div>
    {{/if}}
</div>
