<!-- components/oxi-section/cards -->
{{#if this.cards}}
    {{#if @def.vertical}}

        <div class="col-md-10">
        {{#each this.cards as |card|}}
            <OxiBase::Button @button={{card._clickable}} class="card w-100 mx-0 my-4 p-0 text-start {{unless card.color "bg-light"}}" style={{if card.color (concat "background-color: " card.color)}}>
                {{#if card.label}}
                    <div class="card-header w-100 text-body-secondary text-center bg-secondary text-light">
                        <h5 class="card-title">
                            {{defuse card.label}}
                        </h5>
                    </div>
                {{/if}}
                <div class="row gx-2 py-2">
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <img src={{card.image}}/>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            {{#if card.description}}
                                <p class="card-text">
                                    {{defuse card.description}}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#if card.footer}}
                    <div class="card-footer w-100 text-body-secondary text-center">
                        {{defuse card.footer}}
                    </div>
                {{/if}}
            </OxiBase::Button>
        {{/each}}
        </div>

    {{else}}

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each this.cards as |card|}}
            <div class="col">
                <OxiBase::Button @button={{card._clickable}} class="card h-100 w-100 m-0 p-0 text-start align-items-center {{unless card.color "bg-light"}}" style={{if card.color (concat "background-color: " card.color)}}>
                    {{#if card.label}}
                        <div class="card-header w-100 text-body-secondary text-center bg-secondary text-light">
                            <h5 class="card-title">
                                {{defuse card.label}}
                            </h5>
                        </div>
                    {{/if}}
                    <img src={{card.image}} class="m-3" />
                    {{#if card.description}}
                        <div class="card-body">
                            <p class="card-text">
                                {{defuse card.description}}
                            </p>
                        </div>
                    {{/if}}
                    {{#if card.footer}}
                        <div class="card-footer w-100 text-body-secondary text-center">
                            {{defuse card.footer}}
                        </div>
                    {{/if}}
                </OxiBase::Button>
            </div>
        {{/each}}
        </div>

    {{/if}}
{{/if}}
