{{partial "partial-pagination"}}

<div class="table-responsive oxisection-grid">
    <table class="table table-striped table-bordered table-hover {{this.content.className}}">
        <thead>
            <tr>
                {{#if this.isBulkable}}
                    <th {{action "select"}}>
                        <span class="oxi-checkbox {{if this.allChecked "checked"}}"></span>
                        all
                    </th>
                {{/if}}
                {{#each this.columns as |column|}}
                    {{#if column.sortable}}
                        <th {{action "sort" column}} class="sortable">
                            <span>{{column.sTitle}}</span>
                            {{#if column.isSorted}}
                                {{#if this.pager.reverse}}
                                    <span class="pull-right glyphicon glyphicon-sort-by-attributes-alt"></span>
                                {{else}}
                                    <span class="pull-right glyphicon glyphicon-sort-by-attributes"></span>
                                {{/if}}
                            {{else}}
                                <span class="pull-right glyphicon glyphicon-sort-by-attributes-alt text-muted"></span>
                            {{/if}}
                        </th>
                    {{else}}
                        <th>
                            <span>{{column.sTitle}}</span>
                        </th>
                    {{/if}}
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each this.sortedData as |row index|}}
                <tr class="context {{row.className}} {{if this.hasAction "has-action"}}">
                    {{#if this.isBulkable}}
                        <td {{action "select" row}}>
                            <span class="oxi-checkbox {{if row.checked "checked"}}"></span>
                        </td>
                    {{/if}}
                    {{#each row.data as |value|}}
                        <td {{action "rowClick" index}}>{{oxivalue-format content=value}}</td>
                    {{/each}}
                </tr>
           {{else}}
                <tr><td colspan="{{this.columns.length}}">{{if this.content.content.empty this.content.content.empty "&nbsp;"}}</td></tr>
           {{/each}}
        </tbody>
        {{#if this.content.content.footer}}
            <tfoot>
                <tr><td colspan="{{this.columns.length}}">{{this.content.content.footer}}</td></tr>
            </tfoot>
        {{/if}}
    </table>
    <div class="dropdown">
        <ul class="dropdown-menu" role="menu">
            {{#each this.content.content.actions as |action|}}
                <li>
                    <a tabindex="-1" href="#">{{action.label}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

{{partial "partial-pagination"}}
{{oxi-button-container buttons=this.content.content.buttons buttonClick="buttonClick"}}
