{{#if this.items.length}}
    <table class="table table-bordered">
        <tbody>
            {{#each this.items as |item|}}
                <tr class="{{item.className}}">
                {{#if item.isHead}}
                    <th colspan="2">{{item.value}}</th>
                {{else}}
                    <td>{{item.label}}</td>
                    <td><OxiBase::Formatted @content={{item}}/></td>
                {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
    <OxiBase::ButtonContainer @buttons={{@def.buttons}} @buttonClick={{@buttonClick}}/>
{{/if}}
