{{#if this.items.length}}
    <div class="container-fluid oxi-keyvalue">
        {{#each this.items as |item|}}
            <div class="row {{item.className}} py-1 oxi-keyvalue-head">
            {{#if item.isHead}}
                <div class="col-12">{{item.value}}</div>
            {{else}}
                <div class="col-auto px-0 text-secondary font-weight-bold oxi-keyvalue-label">
                    {{~item.label~}}
                </div>
                <div class="col px-2 d-none d-md-block oxi-keyvalue-dots">
                </div>
                <div class="col-md-8 px-2 ml-3 ml-md-0">
                    {{#if item.preamble}}<i>{{item.preamble}}</i><br/>{{/if}}
                    <OxiBase::Formatted @format={{item.format}} @value={{item.value}}/>
                </div>
            {{/if}}
            </div>
        {{/each}}
    </div>
    <OxiBase::ButtonContainer @buttons={{@def.buttons}} @buttonClick={{@buttonClick}}/>
{{/if}}
