<!-- components/oxi-section/keyvalue -->
{{#if this.items.length}}
    <div class="container-fluid oxi-keyvalue">
        {{#each this.items as |item|}}
            <div class="row {{item.className}} py-1 px-2 oxi-keyvalue-head">
            {{#if item.isHead}}
                <div class="col-12">{{item.value}}</div>
            {{else}}
                <div class="col-auto px-0 text-secondary fw-bold {{if @isInfoBox "oxi-keyvalue-label-infobox" "oxi-keyvalue-label"}}">
                    {{~item.label~}}
                </div>
                <div class="col px-2 d-none d-md-block oxi-keyvalue-dots">
                </div>
                <div class="{{if @isInfoBox "col-6" "col-md-7 col-lg-8 col-xl-9"}} px-2 ms-3 ms-md-0">
                    {{#if item.preamble}}<i>{{item.preamble}}</i><br/>{{/if}}
                    <OxiBase::Formatted
                        @format={{item.format}}
                        @value={{item.value}}
                        @truncate={{@isInfoBox}}
                    />
                </div>
            {{/if}}
            </div>
        {{/each}}
    </div>
    <OxiBase::ButtonContainer @buttons={{@def.buttons}} @buttonClick={{@buttonClick}}/>
{{/if}}
