<div class="oxi-no-input" {{may-focus this false}}>
    {{#if @content.verbose}}
        {{{@content.verbose}}}
    {{else if @content.value}}
        {{{@content.value}}}
    {{else}}
        {{t 'component.oxifield_datetime.date_format'}}
    {{/if}}
</div>
