<!-- components/oxi-section/form/field/static -->
<div class="oxi-no-input" {{on-init @setFocusInfo false}}>
    {{#if @content.verbose}}
        {{{@content.verbose}}}
    {{else if @content.value}}
        {{{@content.value}}}
    {{else}}
        {{t 'component.oxifield_static.unset'}}
    {{/if}}
</div>
