<div class="alert {{if this.hasError "alert-danger" "hide"}}">
    {{this.errors}}
</div>

<div class="container-fluid">
    <form class="form-horizontal" role="form">
        {{#each this.visibleFields as |field|}}
            <OxifieldMain
                @field={{field}}
                @addClone={{this.addClone}}
                @delClone={{this.delClone}}
                @setValue={{fn this.setFieldValue field}}
                @setName={{fn this.setFieldName field}}
                @setError={{fn this.setFieldError field}}
            />
        {{/each}}
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-7 oxi-form-button">
                <BsButton @type="default" class="{{if this.loading "oxi-btn-loading"}} oxi-btn-submit" @onClick={{this.submit}}>
                    {{this.submitLabel}}
                </BsButton>
                {{#if @content.content.reset_label}}
                    <BsButton @type="default" class="oxi-btn-reset" @onClick={{this.reset}}>
                        {{@content.content.reset_label}}
                    </BsButton>
                {{/if}}
                {{#each @content.content.buttons as |btn|}}
                    <OxiButton @button={{btn}} @onClick={{this.buttonClick}}/>
                {{/each}}

            </div>
        </div>
    </form>
</div>
