<select ...attributes class="form-control" {{on "change" this.listChanged}} {{did-insert (action "startup")}}>
    {{#each this.args.list as |item|}}
        <option value="{{item.value}}" selected={{eq item.value this.args.selected}}>
            {{item.label}}
        </option>
    {{/each}}
</select>
