<div {{did-insert this.setMode}}>
{{#if this.isFixed}}
    <input type="text" class="form-control in-form-group"
        value={{this.password}}
        readonly="readonly"
    />
{{else}}
    <input type="password" class="form-control in-form-group"
        value={{this.password}}
        {{on "input" this.passwordChange}}
    />
{{/if}}
    <input type={{if this.isFixed "text" "password"}} class="form-control in-form-group"
        value={{this.confirm}}
        placeholder={{this.placeholder}}
        {{on "focus" this.confirmFocusIn}}
        {{on "input" this.confirmPasswordChange}}
        {{on "blur" this.confirmFocusOut}}
    />
</div>
