<!-- components/oxi-section/form/field/select -->
{{#if this.isStatic}}
    <div class="oxi-no-input"
        {{on-init @setFocusInfo false}}
    >
        {{@content.options.0.label}}
    </div>
{{else}}
    <OxiBase::InputGroup
        @showIf={{@content.editable}}
    >
        {{#if this.customMode}}
            <input
                type="text"
                class="form-control"
                value={{@content.value}}
                placeholder={{@content.placeholder}}
                required={{not @content.is_optional}}
                {{on "input" this.onCustomInput}}
                {{on-init this.onCustomInsert}}
                {{on-init @setFocusInfo true}}
            />
        {{else}}
            <OxiBase::Select
                @list={{@content.options}}
                @selected={{@content.value}}
                @onChange={{this.optionSelected}}
                @placeholder={{this.placeholder}}
                @showClearButton={{@content.is_optional}}
                @noInputGroup={{@content.editable}}
                @inline={{@content.inline}}
                required={{not @content.is_optional}}
                {{on-init @setFocusInfo true}}
            />
        {{/if}}
        {{#if @content.editable}}
            <BsButton
                @type=""
                @active={{this.customMode}}
                @onClick={{this.toggleCustomMode}}
                class="btn-light border-secondary"
            >
                {{t 'component.oxifield_select.custom_value'}}
            </BsButton>
        {{/if}}
        <div class="invalid-feedback">{{@error}}</div>
    </OxiBase::InputGroup>
{{/if}}
