<h3>{{content.content.label}}</h3>
{{#if content.content.description}}
    <div class="description">{{{content.content.description}}}</div>
{{/if}}

{{component type content=content}}

{{#if content.content.buttons}}
    <div class="oxi-button-container">
        {{#if hasDescription}}
            {{#each content.content.buttons as |btn|}}
                <div class="row stacked-buttons">
                    <div class="col-xs-4">
                        {{#if btn.href}}
                            <a class="btn btn-block btn-default" href="{{btn.href}}" target="_blank" title="{{btn.tooltip}}">{{btn.label}}</a>
                        {{else}}
                            <button class="btn btn-block btn-default load-button" {{action "execute" btn}} title="{{btn.tooltip}}">{{btn.label}}</button>
                        {{/if}}
                    </div>
                    <div class="col-xs-8 btn-bt-margin">
                        {{btn.description}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="btn-group">
                {{#each content.content.buttons as |btn|}}
                    {{#if btn.href}}
                        <a class="btn btn-default" href="{{btn.href}}" target="_blank" title="{{btn.tooltip }}">{{btn.label}}</a>
                    {{else}}
                        <button class="btn btn-default load-button" {{action "execute" btn}} title="{{btn.tooltip}}">{{btn.label}}</button>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </div>

    {{#if confirmButton}}
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">
                            {{confirmButton.confirm.label}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {{confirmButton.confirm.description}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" {{action "confirm" confirmButton}}>
                        {{#if confirmButton.confirm.confirm_label}}                    
                            {{confirmButton.confirm.confirm_label}}
                        {{else}}
                            Confirm
                        {{/if}}
                        </button>
                        <button class="btn btn-default" {{action "cancel"}} data-dismiss="modal">
                        {{#if confirmButton.confirm.cancel_label}}
                            {{confirmButton.confirm.cancel_label}}
                        {{else}}
                            Abort
                        {{/if}}                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{/if}}
