<!-- components/oxi-section/grid -->
{{#if @def.pager}}
    <div class="row mb-2">
        <div class="col-12">
            <OxiSection::Grid::Pagination
                @pager={{@def.pager}}
                @pages={{this.pages}}
                @pagesizes={{this.pagesizes}}
                @setPage={{this.setPage}}
            />
        </div>
    </div>
{{/if}}

<div class="oxi-grid">
    <table class="table table-sm table-bordered table-striped table-hover table-responsive {{@def.className}}">
        <thead>
            <tr>
                {{#if this.isBulkable}}
                    <th {{action "select"}}>
                        <span class="oxi-checkbox {{if this.allChecked "checked"}}"></span>
                        {{t 'component.oxisection_grid.select_all'}}
                    </th>
                {{/if}}
                {{#if this.multipleActions}}
                    <th>&nbsp;</th>
                {{/if}}
                {{#each this.formattedColumns as |column|}}
                    {{#if column.sortable}}
                        <th {{on "click" (fn this.sort column.sortPage)}} class="sortable {{if column.isSorted "bg-secondary text-white"}}">
                            <span>{{column.sTitle}}</span>
                            {{#if column.isSorted}}
                                <button type="button" class="btn btn-light btn-sm float-right">
                                    {{#if this.pager.reverse}}
                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                    {{else}}
                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                                    {{/if}}
                                </button>
                            {{else}}
                                <button type="button" class="btn btn-light btn-sm float-right">
                                    <span class="glyphicon glyphicon-sort-by-attributes text-muted"></span>
                                </button>
                            {{/if}}
                        </th>
                    {{else}}
                        <th>
                            <span>{{column.sTitle}}</span>
                        </th>
                    {{/if}}
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each this.sortedData as |row index|}}
                <tr class="context {{row.className}}" role={{if this.hasAction "button"}}>
                    {{#if this.isBulkable}}
                        <td {{action "select" row}}>
                            <span class="oxi-checkbox {{if row.checked "checked"}}"></span>
                        </td>
                    {{/if}}
                    {{#if this.multipleActions}}
                        <td>
                            <BsDropdown as |dd|>
                                <dd.toggle><span class="glyphicon glyphicon-cog"></span></dd.toggle>
                                <dd.menu @renderInPlace={{false}} as |ddm|>
                                    {{#each @def.actions as |action|}}
                                        <ddm.item>
                                            <a
                                                class="dropdown-item"
                                                role="button"
                                                {{on "click" (fn this.executeAction row action)}}
                                            >
                                                {{action.label}}
                                                {{#if action.icon}}
                                                    <span class="float-right glyphicon glyphicon-{{action.icon}}"></span>
                                                {{/if}}
                                            </a>
                                        </ddm.item>
                                    {{/each}}
                                </dd.menu>
                            </BsDropdown>
                        </td>
                    {{/if}}
                    {{#each row.data as |value|}}
                        <td {{on "click" (fn this.executeAction row this.firstAction)}}>
                            <OxiBase::Formatted @format={{value.format}} @value={{value.value}}/>
                        </td>
                    {{/each}}
                </tr>
           {{else}}
                <tr><td colspan="{{this.formattedColumns.length}}">
                    {{if @def.empty @def.empty "&nbsp;"}}
                </td></tr>
           {{/each}}
        </tbody>
        {{#if @def.footer}}
            <tfoot>
                <tr><td colspan="{{this.formattedColumns.length}}">
                    {{@def.footer}}
                </td></tr>
            </tfoot>
        {{/if}}
    </table>
    <div class="dropdown">
        <ul class="dropdown-menu" role="menu">
            {{#each @def.actions as |action|}}
                <a class="dropdown-item" role="button" tabindex="-1" href="#">{{action.label}}</a>
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <OxiBase::ButtonContainer @buttons={{this.buttons}} @buttonClick={{this.buttonClick}}/>
    </div>
    <div class="col-lg-6">
        {{#if @def.pager}}
            <OxiSection::Grid::Pagination
                @pager={{@def.pager}}
                @pages={{this.pages}}
                @pagesizes={{this.pagesizes}}
                @setPage={{this.setPage}}
            />
        {{/if}}
    </div>
</div>
