<OxiBase::Clickable @clickable={{this.link}} as |clickHandler isLoading|>
      {{!--
        The href="..." part is used to create a real link that the user can copy
        or use to open the page in another tab/window.
        If the link is just clicked on the "on" handler will fire, disregarding
        the "href" attribute.
      --}}
      <a
         href="{{url-for "openxpki" this.link.page}}"
         title={{this.link.tooltip}}
         class="{{@class}}"
         {{on "click" clickHandler}}
      >
         <OxiBase::Label @text={{this.link.label}} @raw={{true}} />
         {{yield}}
     </a>
</OxiBase::Clickable>
