<!-- components/oxi-section -->
{{#if @renderAsCard}}

    <div class="card bg-light mb-3 ms-3">

        {{#if (or @content.content.label @content.content.description)}}
            <div class="card-header py-2">
                {{#if @content.content.label}}
                    <h4>{{@content.content.label}}</h4>
                {{/if}}
                {{#if @content.content.description}}
                    {{{@content.content.description}}}
                {{/if}}
            </div>
        {{/if}}

        <div class="card-body py-2 px-0" {{on-init this.initialized}}>
            {{component this.type def=this.sectionData buttonClick=this.buttonClick isInfoBox=@isInfoBox}}
        </div>
    </div>

{{else}}

    <div class="mt-1 mb-3">
        {{#if @content.content.label}}
            <h4>{{@content.content.label}}</h4>
        {{/if}}
        {{#if @content.content.description}}
            <div class="mb-3">{{{@content.content.description}}}</div>
        {{/if}}

        <div {{on-init this.initialized}} class={{unless @isInfoBox "ms-3"}}>
            {{component this.type def=this.sectionData buttonClick=this.buttonClick isInfoBox=@isInfoBox}}
        </div>
    </div>

{{/if}}