{{#if button.href}}
    <a class="{{klass}} {{button.className}}" href="{{button.href}}" target="_blank" title="{{button.tooltip}}">{{button.label}}</a>
{{else}}
    <button class="{{klass}} {{if button.loading "btn-loading"}} {{button.className}}" {{action "click"}} title="{{button.tooltip}}" disabled={{button.disabled}}>{{button.label}}</button>
    {{#if button.confirm}}
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">
                            {{button.confirm.label}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {{{button.confirm.description}}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" {{action "confirm"}}>
                            {{if button.confirm.confirm_label button.confirm.confirm_label "Confirm"}}
                        </button>
                        <button class="btn btn-default" {{action "cancel"}} data-dismiss="modal">
                            {{if button.confirm.cancel_label button.confirm.cancel_label "Abort"}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{/if}}
