{{#if this.isStatic}}
    <div class="oxi-no-input" {{did-insert this.setStaticValue}}>{{@content.options.0.label}}</div>
{{else if @content.editable}}
    <div class="input-group">
        {{#if this.customMode}}
            <input
                type="text"
                class="form-control"
                value={{@content.value}}
                placeholder={{@content.placeholder}}
                {{on "input" this.customInput}}
                {{did-insert this.onInsert}}
            />
        {{else}}
            <OxiSelect
                @list={{this.options}}
                @selected={{this.sanitizedValue}}
                @onChange={{this.optionSelected}}
                {{did-insert @onInsert}}
            />
        {{/if}}
        <span class="input-group-btn">
            <BsButton @type="default" @active={{this.customMode}} @onClick={{this.toggleCustomMode}}>
                Custom
            </BsButton>
        </span>
    </div>
{{else}}
    <OxiSelect @list={{this.options}} @selected={{this.sanitizedValue}} @onChange={{this.optionSelected}} />
{{/if}}
