{{#if isStatic}}
    <div class="oxi-no-input">{{content.options.firstObject.label}}</div>
{{else if content.editable}}
    <div class="input-group">
        {{#if customMode}}
            {{input class="form-control" placeholder=content.placeholder value=content.value}}
        {{else}}
            <OxiSelect @list={{options}} @selected={{sanitizedValue}} @onChange={{optionSelected}} />
        {{/if}}
        <span class="input-group-btn">
            <button class="btn btn-default {{if customMode "active"}}" {{action "toggleCustomMode"}}>Custom</button>
        </span>
    </div>
{{else}}
    <OxiSelect @list={{options}} @selected={{sanitizedValue}} @onChange={{optionSelected}} />
{{/if}}
