<div
    {{on "keydown" this.onKeydown}}
    {{on "mousedown" this.onMouseDown}}
    class="dropdown"
>
    <input
        type="text"
        class="form-control"
        value={{this.value}}
        placeholder={{@content.placeholder}}
        {{on "input" this.onInput}}
        {{on "focus" this.onFocus}}
        {{on "blur" this.onBlur}}
        {{on "paste" this.onPaste}}
        {{may-focus this true}}
    />
    <div class="dropdown-menu {{if this.isDropdownOpen "show"}}" role="menu">
        {{#each this.searchResults as |result|}}
            <a class="dropdown-item {{if result.active "active"}}" {{action "selectResult" result}}>{{result.label}}</a>
        {{else}}
            <a class="dropdown-item">{{t 'component.oxifield_text.no_search_results'}}</a>
        {{/each}}
    </div>
</div>
{{#if this.isAutoComplete}}
    <div class="oxi-autocomplete">{{this.label}}&nbsp;</div>
{{/if}}
