<div class="alert {{if hasError "alert-danger" "hide"}}">
    {{errors}}
</div>

<div class="container-fluid">
    <form class="form-horizontal" role="form">
        {{#each visibleFields as |field|}}
            {{oxifield-main content=field addClone="addClone" delClone="delClone" valueChange="valueChange"}}
        {{/each}}
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-7 oxi-form-button">
                <button class="btn btn-default {{if loading "btn-loading"}} submit" {{action "submit"}}>
                    {{submitLabel}}
                </button>
                {{#if content.content.reset_label}}
                    <button class="btn btn-default reset" {{action "reset"}}>
                        {{content.content.reset_label}}
                    </button>
                {{/if}}
                {{#each content.content.buttons as |btn|}}
                    {{oxi-button button=btn klass="btn btn-default" click="buttonClick"}}
                {{/each}}
                
            </div>
        </div>
    </form>
</div>


