<div class="row" {{did-insert (fn @mayFocus false)}}>
    <div class="col-md-8">
        <BsDatetimepicker {{did-insert this.datepickerReady}}
            @date={{this.value}}
            @useCurrent={{if this.value false true}}
            @format={{this.format}}
            @change={{this.datePicked}}
            @openOnFocus={{true}}
            @placeholder={{@content.placeholder}}
            @locale={{this.oxiLocale.locale}}
        />
    </div>
    <div class="col-md-4">
        <input class="form-control" type="text" placeholder={{t 'component.oxifield_datetime.timezone' tz=this.timezoneLabel}} disabled/>
    </div>
</div>
