<div class="row justify-content-end">
    <nav class="col col-lg-auto oxi-pager">
        <ul class="pagination">
            <li class="page-item disabled pagination-label">
                <a class="page-link">{{t 'pagination.items_per_page'}}</a>
            </li>
            {{#each @pagesizes as |pagesize|}}
                <li class="page-item {{if pagesize.active "active"}}">
                    <button class="page-link" {{on "click" (fn @setPage pagesize)}}>{{pagesize.limit}}</button>
                </li>
            {{/each}}
        </ul>
    </nav>

    {{#if @pages.length}}
        <nav class="col col-lg-auto oxi-pager">
            <ul class="pagination">
                <li class="page-item {{if @pages.prev.disabled "disabled"}}">
                    <button class="page-link" aria-label={{t 'pagination.previous'}} {{on "click" (fn @setPage @pages.prev)}}>
                        {{!-- template-lint-disable no-bare-strings --}}
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                {{#each @pages as |page|}}
                    <li class="page-item {{if page.active "active"}}">
                        <button class="page-link" {{on "click" (fn @setPage page)}}>{{page.num}}</button>
                    </li>
                {{/each}}
                <li class="page-item {{if @pages.next.disabled "disabled"}}">
                    <button class="page-link" aria-label={{t 'pagination.next'}} {{on "click" (fn @setPage @pages.next)}}>
                        {{!-- template-lint-disable no-bare-strings --}}
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    {{/if}}

    <nav class="col col-lg-auto oxi-pager">
        <ul class="pagination">
            <li class="page-item disabled total">
                <a class="page-link">{{t 'pagination.x_items' count=@pager.count}}</a>
            </li>
        </ul>
    </nav>
</div>
