<!-- components/oxi-section/form/field/password -->
<input
    type="password"
    class="form-control"
    value={{@content.value}}
    placeholder={{@content.placeholder}}
    required={{not @content.is_optional}}
    {{on "input" this.onInput}}
    {{on-init @setFocusInfo true}}
/>
<div class="invalid-feedback">{{@error}}</div>
