{{~#each (arrayify @text) as |txt|~}}
    <span class="oxi-label {{@class}}">
        {{#if @tooltip}}
            <EmberTooltip>
                {{@tooltip}}
            </EmberTooltip>
        {{/if}}
    {{#if @raw}}
        {{{defuse txt}}}
    {{else}}
        {{txt}}
    {{/if}}
    </span>
{{~/each~}}
