{{~#each (arrayify @text) as |txt|~}}
    <div class="{{@class}} {{this.cssClasses}}">
        {{#if @tooltip}}
            <Tippy
                @delay={{this.config.tooltipDelay}}
                @placement="top-start"
            >
                {{@tooltip}}
            </Tippy>
        {{else if @raw_tooltip}}
            <Tippy
                @delay={{this.config.tooltipDelay}}
                @placement="top-start"
            >
                {{html @raw_tooltip}}
            </Tippy>
        {{else if @tooltip_page}}
            <Tippy
                @delay={{this.config.tooltipDelay}}
                @placement="top-start"
                @onShow={{this.fetchTooltip}}
            >
                {{#if this.tooltipContent}}
                    <OxiSection @content={{this.tooltipContent}}/>
                {{else}}
                    wait...
                {{/if}}
            </Tippy>
        {{/if}}
    {{#if @raw}}
        {{html txt}}
    {{else}}
        {{txt}}
    {{/if}}
    </div>
{{~/each~}}
