{{~#each (arrayify @text) as |txt|~}}
    <div class="{{@class}} {{this.cssClasses}}">
        {{#if @tooltip}}
            <EmberTooltip>
                {{@tooltip}}
            </EmberTooltip>
        {{else if @tooltip_page}}
            <EmberPopover
                @onShow={{this.fetchTooltip}}
                @updateFor={{this.tooltipReady}}
            >
                {{#if this.tooltipContent}}
                    <OxiSection @content={{this.tooltipContent}} @onInit={{this.setTooltipReady}}/>
                {{else}}
                    wait...
                {{/if}}
            </EmberPopover>
        {{/if}}
    {{#if @raw}}
        {{{defuse txt}}}
    {{else}}
        {{txt}}
    {{/if}}
    </div>
{{~/each~}}
