<span {{on "click" this.click}}>

{{#let @content.value as |v|}}

    {{#if (eq this.format "certstatus")}}
        <span class="certstatus-{{lc (try v.value v.label)}}" title={{v.tooltip}}>{{{v.label}}}</span>
    {{else if (eq this.format "link")}}
        <a href="#/openxpki/{{v.page}}" target={{try v.target "modal"}} title={{v.tooltip}}>{{{v.label}}}</a>
    {{else if (eq this.format "extlink")}}
        <a href={{v.page}} target={{try v.target "_blank"}} title={{this.tooltip}}>{{{v.label}}}</a>
    {{else if (eq this.format "timestamp")}}
        {{this.timestamp}}
    {{else if (eq this.format "datetime")}}
        {{this.datetime}}
    {{else if (eq this.format "text")}}
        {{v}}
    {{else if (eq this.format "nl2br")}}
        {{#each this.valueSplitByNewline as |line|}} {{line}}<br> {{/each}}
    {{else if (eq this.format "code")}}
        <code>{{this.valueStr}}</code>
    {{else if (eq this.format "raw")}}
        {{{this.defusedRawValue}}}
    {{else if (eq this.format "defhash")}}
        <dl>
            {{#each-in @content.value as |key val|}}
                <dt>{{key}}</dt>
                <dd>{{val}}</dd>
            {{/each-in}}
        </dl>
    {{else if (eq this.format "deflist")}}
        <dl>
            {{#each-in @content.value as |key val|}}
                <dt>{{val.label}}</dt>
                <dd>{{#if (eq val.format "raw")}} {{{val.value}}} {{else}} {{val.value}} {{/if}}</dd>
            {{/each-in}}
        </dl>
    {{else if (eq this.format "ullist")}}
        <ul class="list-unstyled">
            {{#each-in @content.value as |key val|}} <li>{{val}}</li>   {{/each-in}}
        </ul>
    {{else if (eq this.format "rawlist")}}
        <ul class="list-unstyled">
            {{#each-in @content.value as |key val|}} <li>{{{val}}}</li> {{/each-in}}
        </ul>
    {{else if (eq this.format "linklist")}}
        <ul class="list-unstyled">
            {{#each-in @content.value as |key val|}}
                <li>
                    <a href="#/openxpki/{{val.page}}" target={{try val.target "modal"}} title={{val.tooltip}}>
                        {{{val.label}}}
                    </a>
                </li>
                {{/each-in}}
        </ul>
    {{else if (eq this.format "styled")}}
        <span class="styled-{{this.styledValue.style}}">{{this.styledValue.label}}</span>
    {{else if (eq this.format "tooltip")}}
        <span title={{@content.value.tooltip}}>{{@content.value.value}}</span>
    {{else if (eq this.format "head")}}
        1
    {{/if}}

{{/let}}

</span>
