{{! We need the href in addition to the click handler to support
    opening the page in a new window }}
<a
    ...attributes
    class="{{if @spec.active "active"}} icon-link"
    href="{{if @spec.page (url-for "openxpki" @spec.page) @spec.url}}"
    {{on "click" (if @spec.page (fn this.navigateTo @spec.page) (fn this.callUrl @spec.url))}}
>
    {{#if @spec.icon}}
        <span class="glyphicon {{@spec.icon}} text-secondary pe-1"></span>
    {{/if}}
    {{@spec.label}}
</a>
