{{! We need the href in addition to the click handler to support
    opening the page in a new window }}
<a
    ...attributes
    class="{{if @spec.active "active"}} icon-link"
    href={{this.href}}
    {{on "click" this.openTarget}}
>
    {{#if @spec.icon}}
        <span class="glyphicon {{@spec.icon}} text-secondary pe-1"></span>
    {{/if}}
    {{@spec.label}}
</a>
