<a href="{{url-for "openxpki" @spec.page}}"
   target={{@spec.target}}
   title={{@spec.tooltip}}
   {{on "click" this.internalLinkClick}}
>
    <OxiBase::Label @text={{@spec.label}} @raw={{true}} />
</a>
