{{#if content.content.pager}}
    <nav class="text-right">
        <span class="pagination">
            <span class="pagination-label">Items per page</span>
        </span>
        <ul class="pagination">
            {{#each pagesizes as |pagesize|}}
                <li class="{{if pagesize.active "active"}}"><a class="oxi-link-ignore" {{action "changePagesize" pagesize}}>{{pagesize.num}}</a></li>
            {{/each}}
        </ul>
        {{#if pages.length}}
            <ul class="pagination">
                <li class="{{if pages.prev.disabled "disabled"}}">
                    <a class="oxi-link-ignore" aria-label="Previous" {{action "changeStartat" pages.prev}}>
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#each pages as |page|}}
                    <li class="{{if page.active "active"}}"><a class="oxi-link-ignore" {{action "changeStartat" page}}>{{page.num}}</a></li>
                {{/each}}
                <li class="{{if pages.next.disabled "disabled"}}">
                    <a class="oxi-link-ignore" aria-label="Next" {{action "changeStartat" pages.next}}>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        {{/if}}
    </nav>
{{/if}}
