{{#if this.config.customCssUrl}}
    <link integrity="" rel="stylesheet" href="{{this.config.customCssUrl}}">
{{/if}}

{{!
  *************************************
  Menu
  *************************************
}}
<BsNavbar
    @backgroundColor="secondary"
    class="py-2 py-lg-0 mb-3 bg-opacity-10 border-2 border-bottom border-secondary"
    as |navbar|
>
    <navbar.toggle toggle={{true}} />
    <navbar.content id="oxi-navbar">
        <navbar.nav class="me-auto" as |nav|>
            {{#each this.model.navEntries as |navEntry|}}
                {{!-- sub menu --}}
                {{#if navEntry.entries.length}}
                    <nav.dropdown class="mx-2" as |dd|>
                        <dd.toggle>
                            {{navEntry.label}}
                            <span class="caret"></span>
                        </dd.toggle>
                        <dd.menu as |ddm|>
                            {{#each navEntry.entries as |entry|}}
                                <ddm.item>
                                    {{#if entry.key}}
                                        {{! We need the href in addition to the click handler to support
                                            opening the page in a new window }}
                                        <a
                                            class="dropdown-item"
                                            href="{{url-for "openxpki" entry.key}}"
                                            {{on "click" (fn this.navigateTo entry.key navbar.collapse)}}
                                        >
                                            {{entry.label}}
                                        </a>
                                    {{else}}
                                        {{#if entry.label}}
                                            <span class="dropdown-header">{{entry.label}}</span>
                                        {{else}}
                                            <div class="dropdown-divider"></div>
                                        {{/if}}
                                    {{/if}}
                                </ddm.item>
                            {{/each}}
                        </dd.menu>
                    </nav.dropdown>
                {{!-- plain menu item --}}
                {{else}}
                    <nav.item class="mx-2">
                        <a
                            class="nav-link"
                            href="{{url-for "openxpki" navEntry.key}}"
                            {{on "click" (fn this.navigateTo navEntry.key navbar.collapse)}}
                        >
                            {{navEntry.label}}
                        </a>
                    </nav.item>
                {{/if}}
            {{/each}}
        </navbar.nav>
        <navbar.nav as |nav|>
            {{#if this.model.user}}
                <nav.item>
                    <nav.linkTo {{on "click" this.logout}}>
                        {{t 'site.logout'}}
                    </nav.linkTo>
                </nav.item>
            {{/if}}
        </navbar.nav>
    </navbar.content>
</BsNavbar>

<div class="container-fluid {{this.model.tabs.firstObject.page.className}}">
    {{!
      *************************************
      Old browser warning
      *************************************
    }}
    <div class="row">
        <div class="col oxi-message">
            <div class="alert alert-danger" hidden={{not (and (not this.content.user) this.oldBrowser)}}>
                {{t 'site.old_browser' browser=this.oldBrowser}}
            </div>
        </div>
    </div>

    {{!
      *************************************
      Show (error) message if no tab exists yet
      *************************************
    }}
    {{#unless this.model.tabs}}
        <div class="row">
            <div class="col oxi-message">
                {{#let (echo this.getStatusClass this.model.status.level) as |cssClass|}}
                    {{#if this.model.status.message}}
                        {{#if this.model.status.href}}
                            <a href="{{this.model.status.href}}" target="_blank" rel="noopener noreferrer">
                                <div class="alert {{cssClass}}">
                                    <OxiBase::Formatted @format="nl2br" @value={{this.model.status.message}}/>
                                </div>
                            </a>
                        {{else}}
                            <div class="alert {{cssClass}}">
                                <OxiBase::Formatted @format="nl2br" @value={{this.model.status.message}}/>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/let}}
            </div>
        </div>
    {{/unless}}

    <div class="row">
        <div class="col">
            {{!
              *************************************
              Tab bar
              *************************************
            }}
            {{#if this.showTabs}}
                <ul class="nav nav-tabs mb-3">
                    {{#each this.model.tabs as |entry|}}
                        <li class="nav-item">
                            <div class="nav-link {{if entry.active "active bg-primary bg-opacity-10"}}">
                                <div class="btn-group" role="group">
                                    <button class="btn" type="button" {{on "click" (fn this.activateTab entry)}}>
                                        {{if entry.page.shortlabel entry.page.shortlabel entry.page.label}}
                                    </button>
                                    {{#if entry.active}}
                                        <button class="btn" type="button" {{on "click" (fn this.closeTab entry)}}>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{!
              *************************************
              Tab content
              *************************************
            }}
            <div class="tab-content pb-3">
                {{#each this.model.tabs as |entry|}}
                    <div class="tab-pane {{if entry.active "active"}}">
                        {{!
                          *************************************
                          Tab-specific messages
                          *************************************
                        }}
                        <div class="row">
                            <div class="col oxi-message">
                                {{#let (echo this.getStatusClass entry.status.level) as |cssClass|}}
                                    {{#if entry.status.message}}
                                        {{#if entry.status.href}}
                                            <a href="{{entry.status.href}}" target="_blank" rel="noopener noreferrer">
                                                <div class="alert {{cssClass}}">
                                                    <OxiBase::Formatted @format="nl2br" @value={{entry.status.message}}/>
                                                </div>
                                            </a>
                                        {{else}}
                                            <div class="alert {{cssClass}}">
                                                <OxiBase::Formatted @format="nl2br" @value={{entry.status.message}}/>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/let}}
                            </div>
                        </div>

                        {{!
                          *************************************
                          Breadcrumb and page title
                          *************************************
                        }}
                        <div class="row">
                            <div class="col oxi-pagehead">
                                {{#if entry.page.breadcrumb.length}}
                                    <ol class="breadcrumb">
                                        {{#each entry.page.breadcrumb as |bc|}}
                                            {{#if bc.label}}<li class="breadcrumb-item {{bc.className}}">{{bc.label}}</li>{{/if}}
                                        {{/each}}
                                    </ol>
                                {{/if}}
                                {{#if entry.page.label}}
                                    <h3>{{entry.page.label}}</h3>
                                {{/if}}
                            </div>
                            </div>

                        {{#if entry.page.description}}
                            <div class="row">
                                <div class="col mb-3">
                                    {{defuse entry.page.description}}
                                </div>
                            </div>
                        {{/if}}

                        {{#let (and entry.right this.showInfoBlock) as |showInfo|}}
                            <div class="row">
                                {{!
                                  Main page content
                                }}
                                <div class="col-11 {{if showInfo "col-lg-7"}} oxi-main order-0">
                                    {{#each entry.main as |mainEntry|}}
                                        <!-- entry.main item -->
                                        {{! extra row/col level to restrict form width if info block
                                             is hidden (as overly long input fields look ugly) }}
                                        <div class="row">
                                            <div class="col {{if (and (not showInfo) (eq mainEntry.type "form")) "col-xl-10"}}">
                                                <OxiSection
                                                    @content={{mainEntry}}
                                                    @renderAsCard={{(and (eq mainEntry.type "keyvalue") (not mainEntry.content.buttons))}}
                                                />
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                                {{!
                                  Infobox - right hand info column
                                }}
                                {{#if entry.right}}
                                    {{#if showInfo}}
                                        <div class="col-12 col-lg-4 order-2 order-lg-1 pe-lg-0 oxi-infobox">
                                            {{#each entry.right as |rightEntry|}}
                                                <div class="card bg-light border-secondary">
                                                    <div class="card-body p-1">
                                                        <OxiSection
                                                            @content={{rightEntry}}
                                                            @isInfoBox={{true}}
                                                        />
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/if}}
                                    <div class="col-6 col-lg-1 order-1 order-lg-2 pt-3 ps-lg-0">
                                        <BsButton
                                            @type="light"
                                            class="btn-sm"
                                            @onClick={{this.toggleInfoBlock}}
                                            @icon="glyphicon glyphicon-{{if showInfo "remove-sign" "info-sign"}}"
                                        >
                                            {{t 'site.workflow_info'}}
                                        </BsButton>
                                    </div>
                                {{/if}}
                            </div>
                        {{/let}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{#let this.model.popup as |popup|}}
    <BsModal
        @open={{if popup true false}}
        @closeButton={{true}}
        @fade={{true}}
        @backdrop={{true}}
        @backdropClose={{false}}
        @size={{if popup.page.isLarge "xl" "lg"}}
        @scrollable={{true}}
        @onHidden={{this.clearPopupData}}
        as |Modal|
    >
        <Modal.header class="bg-secondary text-white">
            <h4 class="modal-title">
                {{if popup.page.shortlabel popup.page.shortlabel popup.page.label}}
            </h4>
        </Modal.header>
        <Modal.body>
            {{#each popup.main as |mainEntry|}}
                <OxiSection @content={{mainEntry}}/>
            {{/each}}
        </Modal.body>
        <Modal.footer>
            <BsButton {{on "click" Modal.close}}>{{t 'site.close_popup'}}</BsButton>
        </Modal.footer>
    </BsModal>
{{/let}}

<BsModal
    @open={{if this.model.error true false}}
    @closeButton={{true}}
    @fade={{true}}
    @backdrop={{true}}
    @backdropClose={{false}}
    @size="lg"
    as |Modal|
>
    <Modal.header>
        <h4 class="modal-title">{{t 'error_popup.header'}}</h4>
    </Modal.header>
    <Modal.body>
        <OxiBase::Formatted::Arbitrary @value={{this.model.error}} />
    </Modal.body>
    <Modal.footer>
        <BsButton {{on "click" this.reload}} @type="primary">{{t 'error_popup.reload'}}</BsButton>
        <BsButton {{on "click" Modal.close}}>{{t 'site.close_popup'}}</BsButton>
    </Modal.footer>
</BsModal>

{{#if this.model.refresh}}
    <div class="oxi-refresh-banner">
        <span class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-refresh spin-slow"></span>
            &nbsp;{{t 'site.banner.autorefresh'}}
        </span>
    </div>
{{/if}}

{{#if this.model.loadingBanner}}
    <div class="dimmer"></div>
    <div class="oxi-loading-banner">
        <h4 class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-refresh spin"></span>
            &nbsp;{{this.model.loadingBanner}}
        </h4>
    </div>
{{/if}}
