{{#let @value as |v|}}

    {{#if (eq "dummy-placeholder" this.format)}}
        {{!-- just so that all following "else if" look the same --}}

    {{else if (eq "raw" this.format)}}
        <OxiBase::Label
            @text={{this.valueStr}}
            @raw={{true}}
            @raw_tooltip={{if @truncate v}}
            @class="oxi-formatted-raw {{if @truncate "oxi-truncate"}}"
        />

    {{else if (eq "text" this.format)}}
        <OxiBase::Label
            @text={{v}}
            @raw={{false}}
            @tooltip={{if @truncate v}}
            @class="oxi-formatted-text {{if @truncate "oxi-truncate"}}"
        />

    {{else if (eq "subject" this.format)}}
        <OxiBase::Label
            @text={{v}}
            @raw={{false}}
            @tooltip={{if @truncate v}}
            @class="oxi-formatted-subject {{if @truncate "oxi-truncate"}} d-inline-flex"
        />

    {{else if (eq "nl2br" this.format)}}
        <span class="oxi-formatted-nl2br {{@class}}">
            {{#each this.valueSplitByNewline as |line|}} {{line}}<br> {{/each}}
        </span>

    {{else if (eq "timestamp" this.format)}}
        <span class="oxi-formatted-timestamp {{@class}}">
            {{this.timestamp}}
        </span>

    {{else if (eq "styled" this.format)}}
        <span class="oxi-formatted-styled styled-{{this.styledValue.style}} {{@class}}">
            {{this.styledValue.label}}
        </span>

    {{else if (eq "certstatus" this.format)}}
        <OxiBase::Label
            @text={{v.label}}
            @raw={{true}}
            @tooltip={{v.tooltip}}
            @class="oxi-formatted-certstatus certstatus-{{lc (try v.value v.label)}} {{@class}}"
        />

    {{else if (eq "link" this.format)}}
        <OxiBase::Formatted::Link @spec={{v}} @class="oxi-formatted-link {{@class}}" />

    {{else if (eq "extlink" this.format)}}
        <a href={{v.page}} target={{try v.target "_blank"}} title={{v.tooltip}} class="oxi-formatted-extlink {{@class}}">
            <OxiBase::Label @text={{v.label}} @raw={{true}} />
        </a>

    {{else if (eq "tooltip" this.format)}}
        <OxiBase::Label
            @text={{v.value}}
            @tooltip={{v.tooltip}}
            @tooltip_page={{v.tooltip_page}}
            @tooltip_page_args={{v.tooltip_page_args}}
            @raw={{false}}
            @class="oxi-formatted-tooltip {{@class}}"
        />

    {{else if (eq "code" this.format)}}
        <code
            title="{{t 'component.oxi_code.copy'}}"
            {{on "dblclick" this.selectCode}}
            class="oxi-formatted-code {{@class}}"
        >{{this.valueStr}}</code>

    {{else if (eq "asciidata" this.format)}}
        <div class="hover-element oxi-formatted-asciidata {{@class}}">
            <pre class="content pre-scrollable">{{this.valueStr}}</pre>
            <div class="menu">
                <OxiBase::Download @data={{this.valueStr}} />
            </div>
        </div>

    {{else if (eq "download" this.format)}}
        <OxiBase::Download
            @type={{v.type}}
            @data={{v.data}}
            @mimeType={{v.mimetype}}
            @fileName={{v.filename}}
            @autoDownload={{v.autodownload}}
            @hide={{v.hide}}
            @class="oxi-formatted-download {{@class}}"
        />

    {{else if (eq "deflist" this.format)}}
        <dl class="oxi-formatted-deflist {{@class}}">
            {{#each v as |val|}}
                <dt>{{val.label}}</dt>
                {{#each (arrayify val.value) as |ddVal|}}
                    <dd class="m-0">
                        <OxiBase::Formatted::Arbitrary @value={{ddVal}} @raw={{if (eq val.format "raw") true false}} />
                    </dd>
                {{/each}}
            {{/each}}
        </dl>

    {{else if (eq "ullist" this.format)}}
        <ul class="oxi-formatted-ullist list-unstyled {{@class}}">
            {{#each v as |val|}}
                <li>
                    <OxiBase::Formatted::Arbitrary @value={{val}} @raw={{false}} />
                </li>
            {{/each}}
        </ul>

    {{else if (eq "rawlist" this.format)}}
        <ul class="oxi-formatted-rawlist list-unstyled {{@class}}">
            {{#each v as |val|}} <li><OxiBase::Label @text={{val}} @raw={{true}} /> </li> {{/each}}
        </ul>

    {{else if (eq "linklist" this.format)}}
        <ul class="oxi-formatted-linklist list-unstyled {{@class}}">
            {{#each v as |val|}}
                <li>
                    {{#if (eq val.format "extlink")}}
                        <a href={{val.page}} target={{try val.target "_blank"}} title={{val.tooltip}}>
                            <OxiBase::Label @text={{val.label}} @raw={{true}} />
                        </a>
                    {{else if val.page}}
                        <OxiBase::Formatted::Link @spec={{val}}/>
                    {{else}}
                        <OxiBase::Label @text={{val.label}} @tooltip={{val.tooltip}}/>
                    {{/if}}
                </li>
            {{/each}}
        </ul>

    {{/if}}

{{/let}}
