
<h2>Buttons</h2>
<p>
    <OxiButton @button={{this.testLinkA}} class="btn" />
</p>

<p>
    <OxiButton @button={{this.testLinkButton}} @onClick={{this.testAction}} class="btn" />
</p>

<p>
    <OxiButton @button={{this.testLinkButtonConfirm}} @onClick={{this.testAction}} class="btn" />
</p>

<h2>Select</h2>
<p>
    <OxiSelect @list={{this.list}} @selected={{this.listSelection}} @onChange={{this.itemSelected}} />
</p>