
<h2>Buttons</h2>
<p>
    <OxiButton @button={{testLinkA}} class="btn" />
</p>

<p>
    <OxiButton @button={{testLinkButton}} @onClick={{testAction}} class="btn" />
</p>

<p>
    <OxiButton @button={{testLinkButtonConfirm}} @onClick={{testAction}} class="btn" />
</p>

<h2>Select</h2>
<p>
    <OxiSelect @list={{list}} @selected={{listSelection}} @onChange={{itemSelected}}/>
</p>