<!-- components/oxi-section/form/field/bool -->
<div class="form-check">
    <input class="form-check-input"
        type="checkbox"
        checked={{@content.value}}
        id={{@content.name}}
        {{on "change" this.onInput}}
        {{on-init @setFocusInfo false}}
    />
    <label class="form-check-label" for={{@content.name}}>
        {{@content.label}}
    </label>
</div>
