{{partial "partial-pagination"}}

<div class="table-responsive oxisection-grid">
    <table class="table table-striped table-bordered table-hover {{content.className}}">
        <thead>
            <tr>
                {{#each columns as |column|}}
                    <th {{action "sort" column}}>
                        <span>{{column.sTitle}}</span>
                        {{#if column.isSorted}}
                            {{#if column.isInverted}}
                                <span class="pull-right glyphicon glyphicon-sort-by-attributes-alt"></span>
                            {{else}}
                                <span class="pull-right glyphicon glyphicon-sort-by-attributes"></span>
                            {{/if}}
                        {{/if}}
                    </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each sortedData as |line|}}
                <tr class="context {{line.className}} {{if controller.hasAction "has-action"}}">
                    {{#each line as |value|}}
                        <td>{{oxivalue-format content=value}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{partial "partial-pagination"}}

<div class="dropdown">
    <ul class="dropdown-menu" role="menu">
        {{#each content.content.actions as |action|}}
            <li>
                <a tabindex="-1" href="#">{{action.label}}</a>
            </li>
        {{/each}}
    </ul>
</div>
