{{partial "partial-pagination"}}

<div class="table-responsive oxisection-grid">
    <table class="table table-striped table-bordered table-hover {{content.className}}">
        <thead>
            <tr>
                {{#if isBulkable}}
                    <th {{action "select"}}>
                        <span class="oxi-checkbox {{if allChecked "checked"}}"></span>
                        all
                    </th>
                {{/if}}
                {{#each columns as |column|}}
                    <th {{action "sort" column}}>
                        <span>{{column.sTitle}}</span>
                        {{#if column.isSorted}}
                            {{#if column.isInverted}}
                                <span class="pull-right glyphicon glyphicon-sort-by-attributes-alt"></span>
                            {{else}}
                                <span class="pull-right glyphicon glyphicon-sort-by-attributes"></span>
                            {{/if}}
                        {{/if}}
                    </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>            
            {{#each sortedData as |row index|}}
                <tr class="context {{row.className}} {{if hasAction "has-action"}}">
                    {{#if isBulkable}}
                        <td {{action "select" row}}>
                            <span class="oxi-checkbox {{if row.checked "checked"}}"></span>
                        </td>
                    {{/if}}
                    {{#each row.data as |value|}}
                        <td {{action "rowClick" index}}>{{oxivalue-format content=value}}</td>
                    {{/each}}
                </tr>
           {{else}}
                <tr><td colspan="{{columns.size}}">{{#if content.content.empty}}{{content.content.empty}}{{else}}&nbsp;{{/if}}</td></tr>
           {{/each}}
        </tbody>
        {{#if content.content.footer}}
            <tfoot>
                <tr><td colspan="{{columns.size}}">{{content.content.footer}}</td></tr>
            </tfoot>
        {{/if}}        
    </table>
    <div class="dropdown">
        <ul class="dropdown-menu" role="menu">
            {{#each content.content.actions as |action|}}
                <li>
                    <a tabindex="-1" href="#">{{action.label}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

{{partial "partial-pagination"}}
{{oxi-button-container buttons=content.content.buttons buttonClick="buttonClick"}}
